@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    --coral: #a2d5c6;
    --green: #077b8a;
    --orange: #ff6e40;
    --navy: #1e3d59;
    --beige: #f5f0e1;
    --yellow: #ffc13b;
    --light-navy: rgba(30, 61, 89, .05);
    background-color: var(--beige);
    font-family: 'Press Start 2P', cursive;

}
/* information at the end of the game */
#info {
    position: absolute;
    top: 10vh;
    font-size: 4rem;
    color: var(--navy)
}

.info-holder {
    display: flex;
    justify-content: center;
}
/* have a 3x3 grid roughly centered in the screen */
#board {
    display: grid;
    margin: 20vh auto auto auto;
    width: 27vw;
    height: 27vw;
    border: 1px solid var(--navy);
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
/* each square is distinct and holds text inside it */
.square {
    border: 1px solid var(--navy);
    background-color: var(--beige);
    text-align: center;
    color: var(--navy);
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 5em;
    font-weight: bold;
    padding-top: 13px;
}
/* make squares lighter when hovering over */
.square:hover {
    background-color: var(--light-navy);
}

.newplayer , .restart {
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    line-height: 1.5;
    width: 8vw;
    height: 8vw;
    background-color: var(--navy);
    color: var(--beige);
    border: none;
    border-radius: 100%;
}


.newplayer:hover , .restart:hover{
    transform: scale(1.05);
}

.button-holder {
    display: flex;
    justify-content: center;
    gap: 5rem;
    position: absolute;
    bottom: 5vh;
    width: 100vw;
}




.player {
    width: 10vw;
    padding: 10px 10px 10px 10px;
    color: var(--navy);
    background-color: var(--beige);
    border: none;
    font-family: 'Press Start 2p', cursive;
}

#playerOneButton {
    top: 45vh;
    border: 2px solid var(--navy);
    border-radius: 2rem;
}
#playerOneButton:hover , #playerTwoButton:hover {
    background-color: var(--navy);
    color: var(--beige);

}

#playerTwo {
    right: 10vw;
    left: auto;
}

#playerTwoDisplay {
    right: 15vw;
    left: auto;
}

#playerOneDisplay, #playerTwoDisplay {
    font-size: 3rem;
}

#playerTwoButton {
    border: 2px solid var(--navy);
    border-radius: 2rem;
}

.formHolder, #two {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    position: absolute;
    left: 10vw;
    top: 40vh;
    padding: 10px 10px 10px 10px;
    font-family: 'Press Start 2p', cursive;
}

#two {
    left: auto;
    right: 10vw;
}