@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    --navy: #1e3d59;
    --beige: #f5f0e1;
    --light-navy: rgba(30, 61, 89, .05);
    background-color: var(--beige);
    font-family: 'Press Start 2P', cursive;

}
/* get rid of background of github image and place it below calculator */

img {
    mix-blend-mode: multiply;
    height: 8vw;
    width: 8vw;
}
/* container to hold all of the items in the page */
#mainContainer {
    display: flex;
    flex-direction: column;
    align-items:stretch;
    justify-content: space-between;
    gap: 6rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
/* container to hold middle row items */
#middleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5rem;
    padding-right: 5rem;
}



/* information at the end of the game */
#info {
    font-size: 2.5rem;
    height: 2.5rem;
    color: var(--navy)
}
/* container to hold the information */
.info-holder {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
}
/* have a 3x3 grid roughly centered in the screen */
#board {
    display: grid;
    width: 27vw;
    height: 27vw;
    border: 1px solid var(--navy);
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
/* each square is distinct and holds text inside it */
.square {
    border: 1px solid var(--navy);
    background-color: var(--beige);
    text-align: center;
    color: var(--navy);
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 5em;
    font-weight: bold;
    padding-top: 13px;
}
/* make squares lighter when hovering over */
.square:hover {
    background-color: var(--light-navy);
}
/* buttons at the bottom of the page are the same size, color, and text color and shape */
.newplayer , .restart {
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    line-height: 1.5;
    width: 8vw;
    height: 8vw;
    background-color: var(--navy);
    color: var(--beige);
    border: none;
    border-radius: 100%;
}

/* all buttons at the bottom of the screen become larger when hovering */
.newplayer:hover , .restart:hover , img:hover{
    transform: scale(1.05);
}
/* button container that flexes the items and has them evenly spaced along the bottom */
.button-holder {
    display: flex;
    justify-content: center;
    gap: 5rem;
}



/* standard class for the player inputs, displays, and buttons */
.player {
    width: 12vw;
    padding: 10px 10px 10px 10px;
    color: var(--navy);
    background-color: var(--beige);
    border: none;
    font-family: 'Press Start 2p', cursive;
}
/* positioned below the input, has a border */
#playerOneButton {
    border: 2px solid var(--navy);
    border-radius: 2rem;
}
/* the buttons swap the background and text color on hover */
#playerOneButton:hover , #playerTwoButton:hover {
    background-color: var(--navy);
    color: var(--beige);
}
/* both displays have the same font size */
#playerOneDisplay, #playerTwoDisplay {
    font-size: 1.5rem;
}
/* player two button (right side) has same as player 1 button */
#playerTwoButton {
    border: 2px solid var(--navy);
    border-radius: 2rem;
}
/* form holder is flexed on both sides and has adequate spacing */
.formHolder, #two {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    padding: 10px 10px 10px 10px;
    font-family: 'Press Start 2p', cursive;
}